/* body {
padding: 10px 20px 0px 10px;
} */
html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px 10px 30px 50px;

}

/* Nav bar */
.navbar {
    padding: 20px 40px 20px 40px;
}

.navbar-brand {
    margin-right: 20px;
}

.navbar-nav .nav-item {
    padding-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link{
    color: #185CA9;
}

.free-trial {
    font-weight: bold;
    width: 180px;
    height: 40px;
    background-color: #D81E36;
    color: #fff;
}

.login {
    font-weight: bold;
    width: 100px;
    height: 40px;
    background-color: #185CA9;
    color: #fff;
}

/* Nav bar End */



/* hero */
.bg-hero {
    position: relative;
    background-image: url("../images/Rectangle1.png");
    height: 612px;

    /* height: 100%; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 400px;
    z-index: 0;
}

.overlay-doted {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;

}

.title {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.overlay-lines {
    position: absolute;
    left: 0px;
    top: 276px;
    width: 100%;
    z-index: -1;


}

.white {
    position: absolute;
    left: 0;
    top: 400px;
    /* background-color: white; */
    width: 100%;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}



.overlay-age {
    position: absolute;
    left: 150px;
    top: 215px;
}

.activity {
    top: -100px;
}

.activity-img {
    position: absolute;
    z-index: 5;
    left: 150px;


}

.about-yoga {
    position: relative;
    text-align: center;
    top: -100px;
}

.about-yoga-bg {
    box-shadow: inset 1px 1px 28px 0px #fff;
    border-radius: 20px;
}

.about-yoga-content {
    position: absolute;
    top: 28%;
    left: 45%;
    transform: translate(-38%, -50%);
}

.about-yoga-title {
    text-align: center;
}

.about-yoga-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-yoga-features {
    /* display: flex; */
    /* text-align: center; */

}

.about-yoga-features-list {
    display: flex;
    align-items: flex-start;

}

/* hero End */


/* Package */
.package {
    margin-top: 100px;

    /* position: fixed; */
}



.package-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 28px 0px rgb(146, 146, 146);
    border-radius: 20px;

}

.session {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    font-weight: bold;
    width: 220px;
    height: 40px;
    background-color: #D81E36;
    color: #fff;

}

.session a {
    color: #fff;
}

.price {
    width: 150px;
}

.offer {
    width: 50px;
    position: absolute
}

.bestseller {
    color: rgb(230, 180, 16);
    font-weight: bold;
}

.l-100 {
    left: 100px;
}

@media only screen and (max-width: 600px) {
    .l-100 {
        left: 0px;
    }
}



.select-package {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    font-weight: bold;
    width: 300px;
    height: 40px;
    background-color: #185CA9;
    color: #fff;
}

.select-package a {
    color: #fff;
    text-transform: uppercase;

}

/* .price {
    font-weight: bold;
    font-size: 25px;
}

.month{
font-size: 20px;
} */

/* Package End */



/* Testmonial */

/* section.testimonial {
    padding: 40px 10px 30px 50px;

} */

img.testimonial-user {
    margin-left: 50px;
}

.testmonial-card-bg {
    background-color: #e8e8e8;
    border-radius: 50px;
}

.bg-shadow {
    box-shadow: 0px 0px 28px 0px rgb(146, 146, 146);
    border-radius: 20px;

}

.testimonial-content {
    margin-left: 50px;
}

/* End Testmonial  */



/* Footer */
footer {
    padding: 40px 10px 30px 50px;
    color: #fff;
}

.bg {
    background-image: url("../images/footer-Rectangle.png");

    /* height: 100%; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

ul.social {
    margin: 0px !important;
}

ul.social li {
    display: inline;
    color: #fff;
    padding-right: 20px;
}

footer ul li {
    padding-top: 20px;
}

footer ul li a {
    color: #fff;
}

/* ENd Footer */


.muted {
    color: #686868;
}

.inline {
    display: inline;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.p-15 {
    padding: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-15 {
    margin-right: 15px;
}